html {
  scroll-behavior: smooth;

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav ul.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100vh;
  background-color: rgb(11, 20, 41);
  transition: right 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

nav ul.menu.active {
  right: 0;
}


nav {
  position: fixed;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  background-color: rgb(11, 20, 41);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(105, 105, 105);
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

nav ul li {
  padding: 15px 20px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;

}

nav ul li a {
  text-decoration: none;
  color: white;
  transition-duration: 0.4s;
  transition-property: color;
}

nav ul li a:hover {
  color: gray;
  text-decoration: none;
}

section {

  height: 100vh;
}

.Nave {
  display: flex;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  margin: 3px 0;
}



.fontsize {
  font-size: 21px;
  color: white;
  margin-top: 7%;
  margin-bottom: 10%;
  text-align: justify;
}

.Policy {
  font-size: 21px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Policycel {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 2%;
}

.About {
  font-size: 55px;
  color: azure;
  font-family: fantasy;
  text-align: center;
  margin-top: 30px;

}

.logo {
  height: 80px;
  margin-right: 560px;
}

.Service {
  font-size: 55px;
  color: azure;
  font-family: fantasy;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.meet {
  font-size: 55px;
  color: azure;
  font-family: fantasy;
  text-align: center;
  margin-top: 50px;
}

.negrito {
  font-weight: 750;
}

.carouselHeight {
  height: 450px;
}


.below {
  position: absolute;
  bottom: 5px;
}



.card-text {
  text-align: start;

}

.fixHeightCarousel {
  height: 100%;
}

.imagemCar {
  height: 10rem;
}

.aspx {
  font-size: 1.0rem;
  margin-left: 0; 
  text-align: center;
  font-weight: 600;
}

.cards {
  font-size: 80%;
  color: black;
}

.quote {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: left;
}

.imgPartners {
  max-width: 49%;
}

.background {
  background-color: rgba(0, 0, 0, 0.37);
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background-color: rgba(23, 35, 60, 39);
  font-family: Montserrat;
  padding: 0;
}

.icones {
  margin-left: 30px;
}

.margens {
  margin-top: 40px;

}

.margenscel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  /* Altura da tela */
  text-align: center;

}

.iconbutton {
  margin-bottom: 100px;
  color: rgb(255, 255, 255);

}

.carousel-control-prev {
  width: 4%;
}

.carousel-control-next {
  width: 6%;
}

.bussines {
  width: 80%;
}


.typing {
  font-size: 4rem;
  overflow: hidden;
  word-wrap: break-word;
  margin-top: 190px;
  min-width: 150% 100%;
}

.margin {
  width: 80%;

}

.marginTop {
  margin-top: 5%;
  position: 5%;
}

.opacity {
  background-color: rgba(58, 58, 58, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.jumbotron {
  margin: 0;
  padding: 0;
}

.button {
  margin-top: 15px;
}


.header {
  background-image: url('../img/Subcabecalho.jpg');
  background-color: rgba(58, 58, 58, 0.1);
  color: azure;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80%;
  background-attachment: fixed;
}

.block {
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;

}

.usdesk {
  background-size: 120% 100%;
  background-image: url('../img/SOCIAL\ MIDIA\ MAKTUB.jpg');
  background-color: rgba(58, 58, 58, 0.1);
  color: aliceblue;
  background-repeat: no-repeat;
  height: 100%;

}


.uscel {
  background-size: 100% 90%;
 background-color: #2bb673;
  color: aliceblue;
  background-repeat: no-repeat;
  height: 19%; /
}


.textMinor {
  font-size: 1.4rem
}

.jumba {
  font-size: 64px;
  color: azure;
  font-family: fantasy;
  text-align: center;
  margin-right: 37%;
  margin-top: 10px
}

.jumbacrl {
  font-size: 58px;
  color: azure;
  font-family: fantasy;
  text-align: center;
  margin-top: 50px
}

.descrition {
  font-size: 17px;
}

@keyframes typing {
  to {
    width: 20ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}



@media (max-width: 1080px) {
  .uscel {
    display: flex;
  }
  .Nave {
    display: none;
  }

  .menu-toggle {
    display: flex;
    z-index: 1001;
    position: fixed;
    right: 25px;
    top: 20px;
  }

  nav ul.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100vh;
    background-color: rgb(11, 20, 41);
    transition: right 0.3s ease;
    padding-top: 60px;
    z-index: 1000;
  }

  nav ul.menu.active {
    right: 0;
  }

  nav ul li {

    text-align: center;
  }

  section {
    padding: 100px 20px;
    height: 100vh;
  }


  .escondeDesk {
    display: block;
  }

  .typing {
    font-size: 3rem;
    text-align: center;
  }

  .fontsize {
    font-size: 17px;
    text-align: start;
    margin: 20px;
  }

  .margin {
    margin-top: 10%;
    align-items: center;
    margin-left: 9%;
  }

  .bussines {
    align-items: center;
    margin-left: 13%;
  }

  .quote {
    text-align: center;
    margin-top: 20px;
  }

  .usdesk {
    display: none;
  }

  .escondeMobile {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .header {
    background-position-x: 70%;
    background-attachment: fixed;
    background-size: 300% 140%;
  }

  .textMinor {
    display: none;
  }

  .imgPartners {
    max-width: 92%;
  }

}

@media (max-width: 756px) {

  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}



@media (min-width:1056px) {

  .Nave {
    display: flex;
  }

  .escondeMobile {
    display: block;
  }

  .Policycel {
    font-size: 20px;
    display: none;
  }

  .escondeDesk {
    display: none;
  }

  .uscel {
    display: none;
  }

  .jumbacrl {
    display: none;
  }

}

@media (min-width: 756px) {


  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next,
  .carousel-item-next:not(.carousel-item-start) {

    transform: translateX(25%) !important;
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start,
  .carousel-item-prev:not(.carousel-item-end) {

    transform: translateX(-25%) !important;

  }

  .carousel-item-next.carousel-item-start,
  .active.carousel-item-end {
    transform: translateX(0) !important;

  }

  .carousel-inner .carousel-item-prev,
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;

  }


  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-start,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {

    display: flex;
  }
}