.fontsize {
    font-size: 19px;
    color: white
}

.negrito {
    font-weight: 750;
}

.Linguica {
    font-family: 'Courier New', Courier, monospace;
    color: white
}

.Titulo {
    font-size: 27px;
    color: azure;
}

body {
    background-color: rgba(23, 35, 60, 39)
}

.margem {
    width: 425px;
    margin-left: 20px;
}

.marginTop {
    margin-top: 5%;
    position: 5%;
}

.opacity {
    background-color: rgba(58, 58, 58, 0.1);
    height: 100%;
    display: grid;
    place-items: center;
    align-content: center;
}

.jumbotron {
    margin: 0;
    padding: 0;
}

.botao {
    margin-top: 15px;
}


.header {
    background-image:url('../img/Subcabecalho.jpg');
    background-color: rgba(58, 58, 58, 0.1); 
    color: azure; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
    background-attachment: fixed;
}

.bloco {
    margin-bottom: 120px;
}


ul {
    list-style: none;
    padding: 5%;
    
}
ul li { 
    display: inline-block;
    margin-left: 20px;

}

ul li a {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
    transition-property: color;
}
ul li a:hover {
    color: gray;
    text-decoration: none;
}